
table {
    border-collapse: collapse;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    align-content: center;

}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: bold 13px/1.5 Helvetica, Verdana, sans-serif;

}

th, td {
    text-align: left;
    padding: 13px;
    font: bold 13px/1.5 Helvetica, Verdana, sans-serif;

}

tr {
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-radius: 4px;
}

a:link, a:visited {
    color: black;
    font: bold 13px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: #f2f2f2;
    width: 10%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    text-align: center;
    border-radius: 4px;

}


